@font-face {
  font-family: "master";
  src: url(/public/Assets/GESS2.woff2) format("woff2");
}

:root {
  --font-family-GESSTwoBold: "master";
}

html,
body {
  height: 100%;
  background: url("./assets/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-family-GESSTwoBold);
  font-size: 12px;
  color: #efefef;
}
#root {
  height: 100%;
}
