@font-face {
  font-family: "master";
  src: url(/public/Assets/GESS2.woff2) format("woff2");
}
@font-face {
  font-family: "master2";
  src: url(/public/Assets/Graphik.woff2) format("woff2");
}
:root {
  --font-family-GESSTwoBold: "master";
  --font-family-Graphik: "master2";
}

html,
body {
  height: 100%;
  background: url("./assets/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-family-GESSTwoBold);
  color: #efefef;
}
#root {
  height: 100%;
}
