.drop-shadow {
  box-shadow: 0 0 10px 5px #cee33c, 0 0 100px 5px #cee33c, 0 0 110px 5px #cee33c;
}
.btnAnsw {
  border-radius: 16px;
  color: #ffffff;
  background: #682481;
  padding: 8px 30px 8px 30px;
  border: solid #16ad85 3px;
  font-family: var(--font-family-GESSTwoBold);
  filter: drop-Shadow(0px 0px 40px rgb(238, 255, 0));
}

.btnAnsw:hover {
  background: #540e66;
}

.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 10px;
  padding: 6px 0px;
  filter: drop-shadow(0px 0px 20px rgb(238, 255, 0));
  font-weight: bold;
}

.glow {
  filter: drop-shadow(0px 0px 50px rgb(238, 255, 0));
}
#svg {
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}
svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}
